*{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    .nav-link {
        color: #888888;
        &.active {
            color: #FFF !important;
        }
        &:hover {
            color: #FFF;
        }
    }
    .btn-login {
        border: 1px solid #888888;
        color: #888888;
        border-radius: 30px;
        height: 35px;
    }
 }

.contents{
    .isi{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .cover{
            border: 2px solid #888888;
            border-radius: 10px;
        }
        p{
            color: #888888;
        }
        .paragraf{
            text-align: justify;
        }
    }
    .fitur{
        .search{
            border: 1px solid #888888;
            background-color: #141414 ;
            width: 100%;
            height: 40px;
            border-radius: 20px;
            padding: 20px;
        }
        .pic{
            background-color: #888888;
            border-radius: 10px;
        }
    }
}

// Footer
footer {
    background-image: url('../images/background-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    margin-top: 100px;
    ul {
        list-style: none;
        display: inline;
        li {
            list-style: none;
            display: inline;
            a {
                display: inline-block;
                color: #888888;
                text-decoration: none;
            }
        }
    }
    .copy {
        color: #888888;
    }
 }
//  Footer