* {
    font-family: 'Poppins', sans-serif;
 }



//  Navbar
 .navbar {
    .nav-link {
        color: #888888;
        &.active {
            color: #FFF !important;
        }
        &:hover {
            color: #FFF;
        }
    }
    .btn-login {
        border: 1px solid #888888;
        color: #888888;
        border-radius: 30px;
        height: 35px;
    }
 }
//  Navbar



//  News
 header {
    width: 100%;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    color: #FFF;
    border: 1px solid #2c2c2c;
    border-radius: 9px;

    .desc {
        color: #888888;
        font-size: 14px;
    }
    .search {
        width: 300px;
        height: 50px;
        padding: 15px;
        border-radius: 25px;
        border: 0;
        background-color: #292929;
        &::placeholder {
            color: #888888;
        }
    }
    .category {
        text-decoration: none;
        color: #888888;
        padding: 15px 25px;
        &.active {
            background-color: #2064ED;
            color: #FFF;
            border-radius: 25px;       
        }
        &:hover {
            background-color: #2064ED;
            color: #FFF;
            border-radius: 25px;
        }
    }
 }
    .articles {
        margin-top: -63px;

        .title {
            color: #FFF;
            font-weight: bold;
            font-size: 20px;
            padding-top: 10px;
        }
        .desc{
            margin-bottom: -10px;
            font-size: 14px;
        }
        .card {
           max-height: 520px;
           background-color: #292929;
           color: #888888;
           border-radius: 20px;
           .btn{
               border: 1px solid #888888;
               width: 200px;
               color: #888888;
               border-radius: 20px;
               &:hover{
                   background-color: #2064ED;
                   color: #FFF;
                   border: 1px solid #2064ED;
               }
           }
        }
     }
// News


// Detail News
.contents {
    height: 1000px;
  }
  .contents .isi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contents .isi .cover {
    border: 2px solid #888888;
    border-radius: 10px;
  }
  .contents .isi p {
    color: #888888;
  }
  .contents .isi .paragraf {
    text-align: justify;
  }
  .contents .fitur .search {
    border: 1px solid #888888;
    background-color: #141414;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
  }
  .contents .fitur .pic {
    background-color: #888888;
    border-radius: 10px;
  }
// Detail News


// Match
.header-match {
    margin-top: 40px;
    .box {
        width: 100%;
        background-color: #1B1C21;
        padding: 27px 22px;
        border-radius: 15px;
        .detail-score {
            padding: 8px 20px;
            background-color: #302D26;
            color: #F5C451;
            border-radius: 30px;
        }
        .score-stats {
            p {
                font-weight: 500;
                font-size: 14px;
                color: #FFF;
                margin-bottom: -5px;
            }
            .number-left {
                font-weight: 600;
                color: #F5C451;
                margin-bottom: 6px;
            }
            .number-right {
                font-weight: 600;
                color: #006AA9;
                margin-bottom: 6px;
            }
            .progress-container {
                width: 100%;
                background-color: #3A3A3A;
                height: 4px;
            }
            .progress-bar {
                height: 100%;
                line-height: 4px;
            }
        }
    }
}
.football-match {
    margin-top: 40px;
    ul {
        margin-top: 35px;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        li {
            display: inline;
            margin-right: 35px;
            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                color: #888888;
                padding: 5px;
                &.active {
                    color: #FFF;
                    border-bottom: 3px solid #5742A9;
                }
            }
        }
    }
    .box {
        margin-top: 25px;
        width: 100%;
        background-color: #1B1C21;
        border-radius: 15px;
        padding: 20px 27px;
        th {
            color: #FFF;
            font-weight: bold;
            font-size: 12px;
        }
        td {
            font-size: 12px;
            color: #FFF;
        }
    }
}
// Match


// About
     .hero {
        background-image: url('../images/about/background.png');
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin-top: -60px;
        .icon {
            img {
                text-align: center;
            }
        }
        .sosmed {
            margin-top: 100px;
        }
    }
    .vm {
        margin-top: 90px;
        margin-bottom: 60px;
        .card {
            background-color: #141414;
            border: 1px solid #888888;
            height: 370px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .contact {
        padding-bottom: 100px;
        .form-contact {
            margin-top: 30px;
        }
        .inputan {
            width: 100%;
            height: 60px;
            border: 0;
            background-color: #2A2A2A;
            border-radius: 9px;
            padding: 15px 25px;
            margin-bottom: 20px;
            &::placeholder {
                color: #888888;
                font-weight: 500;
                margin-top: 5px;
            }
        }
        .inputan2 {
            width: 100%;
            height: 120px;
            border: 0;
            background-color: #2A2A2A;
            border-radius: 9px;
            padding: 15px 25px;
            margin-bottom: 20px;
            &::placeholder {
                color: #888888;
                font-weight: 500;
                margin-top: 5px;
            }
        }
        .btn-submit {
            width: 30%;
            border-radius: 9px;
            padding: 10px 15px;
            height: auto;
            background-color: #EABD00;
            color: #FFF;
            font-weight: 500;
        }
    }
// About


// Footer
footer {
    background-image: url('../images/background-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80px;
    margin-top: 100px;
    ul {
        list-style: none;
        display: inline;
        li {
            list-style: none;
            display: inline;
            a {
                display: inline-block;
                color: #888888;
                text-decoration: none;
            }
        }
    }
    .copy {
        color: #888888;
    }
 }
//  Footer